@charset "UTF-8";




body {
	width: 900px;
	
	font-family: Verdana, Geneva, sans-serif;
	margin: 1.5em auto; 
	background-image: url(ss.jpg);
	border-color: #FFF5E8;
	color: #FFFFFF;
	border-style: solid;
	border-width: 20px;
	padding: 40px;
}


